<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="styles.css" />
    <title>Pokemon Battles</title>
</head>

<body>
    <div id="app">
        <h1>Welcome to Pokemon Battles!</h1>
        <hr />
        <div v-if="loading">
            <p>Loading...</p>
        </div>
        <div v-else-if="stage === 'choose'">
            <h2>Choose a Pokemon</h2>
            <form v-on:submit.prevent="chooseMyPokemon">
                <div class="form-group">
                    <label v-if="myPokemon.id === undefined">My Pokemon</label>
                    <label v-if="myPokemon.id !== undefined">Enemy Pokemon</label>
                    <input autocomplete="off" autocorrect="off" v-model="search" type="text" />
                </div>
                <button type="submit" class="btn-secondary">
                    Choose
                </button>
            </form>
        </div>
        <!-- We don't want this to show during a battle. How can we get rid of it? -->
        <div class="row pt">
            <div v-if="myPokemon.id !== undefined" id="myPokemon">
                <p>{{myPokemon.name}}</p>
                <img :src="myPokemon.sprites.front_default" />
                <p>Type: {{ myTypes }}</p>
                <p>Abilities: {{ myAbilities }}</p>
                Stats:
                <dl v-for="stat of myPokemon.stats" :key="stat.stat.name">
                    <dt>{{ stat.stat.name }}</dt>
                    <dd>{{ stat.base_stat }}</dd>
                </dl>

            </div>
            <div v-else class="question-block">
                ?
            </div>
            <p>VS.</p>
            <div v-if="opposingPokemon.id !== undefined" id="opponentsPokemon">
                <p>{{opposingPokemon.name}}</p>
                <img :src="opposingPokemon.sprites.front_default" />
                <p>Type: {{ opponentTypes }}</p>
                <p>Abilities: {{ opponentAbilities }}</p>
                Stats:
                <dl v-for="stat of opposingPokemon.stats" :key="stat.stat.name">
                    <dt>{{ stat.stat.name }}</dt>
                    <dd>{{ stat.base_stat }}</dd>
                </dl>
            </div>
            <div v-else class="question-block">
                ?
            </div>
        </div>

        <!-- Insert Code here to progress from battleConfirm Stage to Battle Stage-->

        <div v-if="stage === 'battle'">
            <h2 class="pt">Battle Time!</h2>
            <div class="row">
                <div class="card">
                    {{opposingPokemon.name}} Lv 18
                    <div class="w3-light-grey">

                        <div :class="opposingHealthColor" :style="'height:24px;width:' + opposingPokemon.health + '%'">
                        </div>
                    </div>
                </div>
                <div>
                    <img :src="opposingPokemon.sprites.front_default" />
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div>
                    <!-- This probably shouldn't show us facing the front right? -->
                    <img :src="myPokemon.sprites.front_default" />
                </div>
                <div class="card">
                    {{myPokemon.name}} Lv 22
                    <div class="w3-light-grey">
                        <!-- Fix this so we are showing the correct health -->
                        <div :class="myHealthColor" :style="'height:24px;width:' + opposingPokemon.health + '%'"></div>
                    </div>
                </div>
            </div>
            <!-- Fix this so the moves aren't all the same -->
            <div class="move-container">
                <button class="move" v-on:click="attack1">{{myPokemon.moves[0].move.name}}</button>
                <button class="move" v-on:click="attack2">{{myPokemon.moves[0].move.name}}</button>
                <button class="move" v-on:click="attack3">{{myPokemon.moves[0].move.name}}</button>
                <button class="move" v-on:click="attack4">{{myPokemon.moves[0].move.name}}</button>
            </div>
        </div>

    </div>
    <footer>
        <hr />
        <a href="https://github.com/Jacob-Roberts/PokeBattle">Link to Github
            Repo</a>
    </footer>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
    <script src="script.js"></script>
</body>

</html>